body {
	background-color: #ADAD85;
}

.container {
	margin: 0px 25px;
	width: 1024px;
}

.header_white {
  background-color: #EBEBE0; 
}

.header_red {
  background-color: #DB704D;
}

.column_left {
  background-color: #85E085;
}

.column_right {
  background-color: #4D94FF;
}