body {
	background-color: #ADAD85;
}

.container {
	margin: 0px 25px;
	width: 1024px;
}

.header_white {
  background-color: #EBEBE0; 
  float: left;
  width: 984px;
  padding-left: 20px;
  padding-right: 20px;
}

.header_red {
  background-color: #DB704D;
  float: left;
  width: 984px;
  padding-left: 20px;
  padding-right: 20px;
}

.column_left {
  background-color: #85E085;
  float: left;
  width: 728px;
  height: 480px;
  padding-left: 20px;
  padding-right: 20px;
}

.column_right {
  background-color: #4D94FF;
  float: right;
  width: 216px;
  height: 480px;
  padding-left: 20px;
  padding-right: 20px;
}